# Configuração do Servidor
PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/cocktaildb

# JWT
JWT_SECRET=sua-chave-secreta
JWT_EXPIRE=7d
# Redis Cache
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
# CORS
CORS_ORIGIN=http://localhost:3001

# Logging
LOG_LEVEL=info
